body {
    font-family: Aileron, Arial, Helvetica, sans-serif;
    background-color: #eeede9;
    /* user-select: none; /* Отключает выделение текста */
    /* -webkit-user-select: none; /* Для браузеров на основе WebKit */
    /* -ms-user-select: none; /* Для старых версий Internet Explorer */
    /* min-height: 100vh; /* Убедимся, что высота страницы занимает весь экран */
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 10px;
}

.container--flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container--gap {
    gap: 10px;
}

.experience {
    width: 50%;
    height: 710px;
    padding: 10px;

    flex: 1;
}

.experience--left {
    background-color: #e3e2dd;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: right;
}

.experience--right {
    background-color: #eeede9;
    border-bottom: 1px solid #ccc;
}

.text-large {
    font-size: 2rem;
    font-weight: 700;
}

.custom-link {
    color: inherit;
}

/*decorator link delete underline*/
.custom-link--no-underline {
    text-decoration: none;
}

.copyright {
    padding: 10px;
    font-size: 11px;
    text-align: center;
    background-color: #282827;
    color: #eeede9;
}

.footer-text {
    color: #7F6EDB;
}

.about{
    color: #7F6EDB;

    flex: 1;
}

.stack {

    flex: 1;
}

.info {
    flex: 1;
}

.project {
    max-width: 700px;
    margin: 0 auto;

    padding: 15px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.text{
    color: #7F6EDB;

    flex: 1;
}