html, body {
    font-family: Aileron, Arial, Helvetica, sans-serif;
    background-color: #eeede9;
    /* user-select: none; /* Отключает выделение текста */
    /* -webkit-user-select: none; /* Для браузеров на основе WebKit */
    /* -ms-user-select: none; /* Для старых версий Internet Explorer */
    /* min-height: 100vh; /* Убедимся, что высота страницы занимает весь экран */
    margin: 0;
    padding: 0;
}

/*container*/
.container {
    max-width: 700px;
    margin: 0 auto;
}

.container--flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container--gap {
    gap: 10px;
}

.container--padding {
    padding: 10px;
}

.container--center {
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1;
}
/*container*/

/*nav*/
.nav-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    list-style: none;
}

@media (min-width: 560px) {
    .nav-list {
        flex-wrap: nowrap;
    }
}

.cube {
    height: 100px;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1;
}

.portfolio {
    background-color: #e3e2dd;

    animation-name: circle-to-square;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes circle-to-square {
    from {
        background-color: #F498AD;
    }
    50% {
        background-color: #7F6EDB;
    }
    to {
        background-color: #2E9AFF;
    }
}

.github {
    background-color: #282827;
    color: rgb(227 226 221);
}

.linkedin {
    background-color: #a5a4a0;
}

.hh {
    background-color: #eeede9;
}
/*nav*/

/*about*/
.about{
    padding: 10px;
    color: #7F6EDB;

    flex: 1;
}
/*about*/

/*stack*/
.stack {
    padding: 15px;

    flex: 1;
}
/*stack*/

/*experience*/
.experience {
    width: 50%;
    height: 710px;
    padding: 10px;

    flex: 1;
}

.experience--left {
    background-color: #e3e2dd;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: right;
}

.experience--right {
    background-color: #eeede9;
    border-bottom: 1px solid #ccc;
    padding-top: 15px;
}
/*experience*/

/*projects*/
.project {
    margin: 0;
    padding: 15px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-name {
    flex: 1;
}

.project-text{
    padding: 20px;
    color: #7F6EDB;

    flex: 1;
}
/*projects*/

/*other*/
img {
    max-width: 100%;
    height: auto;
    display: block;
}

.text-large {
    font-size: 2rem;
    font-weight: 700;
}

.custom-link {
    color: inherit;
}

/*decorator link delete underline*/
.custom-link--no-underline {
    text-decoration: none;
}
/*other*/

/*footer*/
.copyright {
    padding: 10px;
    font-size: 11px;
    text-align: center;
    background-color: #282827;
    color: #eeede9;
}

.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: #7F6EDB;
}
/*footer*/