.metrics-grid {
  display: flex;
  gap: 16px; /* Расстояние между карточками */
  flex-wrap: wrap; /* На узких экранах (телефонах) карточки встанут друг под друга */
  justify-content: center; /* Выравнивание по центру */
}